<link rel="stylesheet" href="./text-input.scss">

<div class="text-input" data-component="text-input">
  <input type="text" required="required" name="{{name}}" id="{{formName}}-{{name}}"/>
  <span class="bar"></span>
  <label>{{label}}</label>
  {{#if required }}
    <span class="required-message">{{requiredMessage}}</span>
  {{/if}}
  <span class="error-message">{{errorMessage}}</span>
</div>
