<link rel="stylesheet" href="./muban-form.scss">
<script src="./MubanForm.ts"></script>

<form
  class="muban-form"
  data-component="muban-form"
  action="{{form.action}}"
  name="{{form.name}}"
  method="{{form.method}}" >

  {{#each form.fields}}
    {{#if  (condition type '===' 'checkbox')}}
      {{> block/muban-form/inputs/checkbox data=this formName=../form.name }}
    {{ else if (condition type '!==' 'textarea') }}
      {{> block/muban-form/inputs/input data=this formName=../form.name }}
    {{ else if (condition type '===' 'textarea')}}
      {{> block/muban-form/inputs/textarea data=this formName=../form.name }}
    {{/if}}
  {{/each}}

  <button type="submit">submit</button>
</form>

