<link rel="stylesheet" href="./tel-input.scss">

<div class="tel-input" data-component="tel-input">
  {{> block/muban-form/inputs/input data=this formName=formName }}
  <span class="bar"></span>
  <label for="{{formName}}-{{name}}">{{label}}</label>
  {{#if required }}
    <span class="required-message">{{requiredMessage}}</span>
  {{/if}}
  <span class="error-message">{{errorMessage}}</span>
</div>
