<link rel="stylesheet" href="./site-navigation.scss">
<script src="./SiteNavigation.ts"></script>

<header class="site-navigation js-site-navigation" data-component="site-navigation">
  <div class="content-wrapper">
      <h1 class="logo-wrapper">
        <a href="/" class="logo" title="Muban Base Components">LOGO</a>
      </h1>

      <nav class="site-navigation-menu js-site-navigation-menu">
        <ul class="tier-one tier-container" data-slide-target="true">
          {{#each menuItems}}
            <li class="{{#if @last}}last-menu-item{{/if}}">
              <span class="tier-one-item tier-item">
                {{name}}
                <span class="icon icon-next" data-icon="navigation-arrow"></span>
              </span>
              {{menuItems}}
              <ul class="tier-two tier-container">
                {{#each lists}}
                  {{#if list}}
                    {{#unless @key}}
                      <li class="back-navigation" data-back>
                      <span class="tier-item">
                         <span class="icon icon-back" data-icon="navigation-arrow"></span> Main Menu
                      </span>
                      </li>
                      <li class="menu-item-label">{{../name}}</li>
                    {{/unless}}
                    {{#each list}}
                      <li class="{{#unless @key}}list{{/unless}}">
                        {{#if url}}
                          <a class="tier-two-item tier-item" href="{{url}}" target={{target}}>{{name}}</a>
                        {{else}}
                          <span class="tier-two-item tier-item">
                            {{name}}
                            <span class="icon icon-next" data-icon="navigation-arrow"></span>
                          </span>
                        {{/if}}
                        {{#if items}}
                          <ul class="tier-three tier-container">
                            <li class="back-navigation" data-back>
                              <span class="tier-item">
                                 <span class="icon icon-back" data-icon="navigation-arrow"></span>
                                {{name}}
                              </span>
                            </li>
                            {{#each items}}
                              <li>
                                <a class="tier-three-item tier-item" href="{{url}}" target={{target}}>{{name}}</a>
                              </li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </li>
                    {{/each}}
                  {{/if}}
                {{/each}}
              </ul>
            </li>
          {{/each}}
          <li class="menu-background"></li>
        </ul>
      </nav>

      <nav class="site-navigation-menu-actions">
        <ul class="actions-container">
        {{#each menuActions}}
          <li class="menu-action {{#if class}}{{class}}{{/if}}">
            {{#if url}}<a href="{{url}}">{{/if}}
              <span class="label">{{name}}</span>
              {{#if icon}}
                <span class="icon">
                   <span class="icon icon-{{icon}}" data-icon="{{icon}}"></span>
                </span>
              {{/if}}
            {{#if url}}</a>{{/if}}
          </li>
        {{/each}}
          <li class="menu-action menu-button-holder">
            <button class="menu-button js-menu-button">
              <span></span>
            </button>
          </li>
        </ul>
      </nav>

      <div class="site-navigation-search js-site-navigation-search">
        <div class="content-wrapper">
          <form action="" method="GET" class="search-form">
            <button type="submit" class="search-submit"> <span class="icon icon-magnifier" data-icon="magnifier"></span></button>
            <input type="text" name="search" id="search-input" class="search-input" placeholder="Enter Search">
            <span class="icon icon-cross close-search js-close-search" data-icon="cross"></span>
          </form>
        </div>
      </div>
  </div>
</header>
