<link rel="stylesheet" href="./site-navigation.scss">
<script src="./SiteNavigation.ts"></script>

<header class="site-navigation js-site-navigation" data-component="site-navigation">
  <div class="content-wrapper">
      <h1 class="logo-wrapper">
        <a href="/" class="logo" title="Muban Base Components">LOGO</a>
      </h1>

      <nav class="site-navigation-menu js-site-navigation-menu">
        <ul class="tier-one tier-container" data-slide-target="true">
          {{ menuItems.name }}

          {{#each menuItems}}
            <li class="{{#if @last}}last-menu-item{{/if}}">
              <span class="tier-one-item tier-item">
                {{name}}
                {{> general/icon name='navigation-arrow' iconClassName='icon-next' }}
              </span>
              {{menuItems}}
              <ul class="tier-two tier-container">
                {{#each lists}}
                  {{#if list}}
                    {{#unless @key}}
                      <li class="back-navigation" data-back>
                      <span class="tier-item">
                        {{> general/icon name='navigation-arrow' iconClassName='icon-back' }} Main Menu
                      </span>
                      </li>
                      <li class="menu-item-label">{{../name}}</li>
                    {{/unless}}
                    {{#each list}}
                      <li class="{{#unless @key}}list{{/unless}}">
                        {{#if url}}
                          <a class="tier-two-item tier-item" href="{{url}}" target={{target}}>{{name}}</a>
                        {{else}}
                          <span class="tier-two-item tier-item">
                            {{name}}
                            {{> general/icon name='navigation-arrow' iconClassName='icon-next' }}
                          </span>
                        {{/if}}
                        {{#if items}}
                          <ul class="tier-three tier-container">
                            <li class="back-navigation" data-back>
                              <span class="tier-item">
                                {{> general/icon name='navigation-arrow' iconClassName='icon-back' }}
                                {{name}}
                              </span>
                            </li>
                            {{#each items}}
                              <li>
                                <a class="tier-three-item tier-item" href="{{url}}" target={{target}}>{{name}}</a>
                              </li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </li>
                    {{/each}}
                  {{/if}}
                {{/each}}
              </ul>
            </li>
          {{/each}}
          <li class="menu-background"></li>
        </ul>
      </nav>

      <nav class="site-navigation-menu-actions">
        <ul class="actions-container">
        {{#each menuActions}}
          <li class="menu-action {{#if class}}{{class}}{{/if}}">
            {{#if url}}<a href="{{url}}">{{/if}}
              <span class="label">{{name}}</span>
              {{#if icon}}
                <span class="icon">
                  {{> general/icon name=icon }}
                </span>
              {{/if}}
            {{#if url}}</a>{{/if}}
          </li>
        {{/each}}
          <li class="menu-action menu-button-holder">
            <button class="menu-button js-menu-button">
              <span></span>
            </button>
          </li>
        </ul>
      </nav>
  </div>
</header>
